section.content-container {
	min-height: 450px;

	@for $i from 1 through 6 {
		h#{$i} {
			font-family: var(--utrecht-heading-#{$i}-font-family);
			font-weight: var(--utrecht-heading-#{$i}-font-weight);
			color: var(--utrecht-heading-#{$i}-color);
			line-height: var(--utrecht-heading-#{$i}-line-height);
		}
	}

	@for $i from 2 through 6 {
		h#{$i} {
			margin-top: 1.5em;
		}
	}

	ul, ol {
		margin-left: .5em;
	}

	ul {
		line-height: var(--utrecht-unordered-list-line-height);
		padding-inline-start: var(--utrecht-unordered-list-padding-inline-start);
		li {
			padding-inline-start: var(--utrecht-unordered-list-item-padding-inline-start);
			margin-block-end: var(--utrecht-unordered-list-item-margin-block-end);
			margin-block-start: var(--utrecht-unordered-list-item-margin-block-start);
			&::marker {
				color: var(--utrecht-unordered-list-marker-color);
			}
		}
		ul {
			list-style: square;
		}
	}

	ol {
		line-height: var(--utrecht-ordered-list-line-height);
		padding-inline-start: var(--utrecht-ordered-list-padding-inline-start);
		li {
			padding-inline-start: var(--utrecht-ordered-list-item-padding-inline-start);
			margin-block-end: var(--utrecht-ordered-list-item-margin-block-end);
			margin-block-start: var(--utrecht-ordered-list-item-margin-block-start);
			&::marker {
				color: var(--utrecht-ordered-list-marker-color);
			}
		}
		ol {
			list-style: lower-alpha;
		}
	}

	p, ol, ul {
		color: var(--utrecht-paragraph-color);
		font-size: var(--utrecht-paragraph-font-size);
		line-height: var(--utrecht-paragraph-line-height);
	}

	a {
		color: var(--utrecht-link-color);
		text-decoration: var(--utrecht-link-text-decoration);
		text-decoration-thickness: var(--utrecht-link-text-decoration-thickness);
		text-decoration-line: var(--utrecht-link-text-decoration);
		text-underline-offset: var(--utrecht-link-text-underline-offset);
		text-underline-position: from-font;
		&:visited {
			color: var(--utrecht-link-color); /** missing upstream */
		}
		&:hover {
			color: var(--utrecht-link-hover-color);
		}
		&:focus {
			background: var(--utrecht-link-focus-background-color);
		}
		&:focus-visible {
			color: var(--utrecht-link-focus-color) !important;
			text-decoration: none;
		}
		&:active {
			color: var(--utrecht-link-active-color);
		}

		&.link-with-icon {
			display: flex;
			text-decoration: none !important;
			align-items: center;
			gap: .1em;
			i {
				font-size: 1.2em;
				text-decoration: none;
			}
			span {
				text-decoration: underline;
			}
		}
	}

	pre {
		text-wrap: wrap;
		background: #F5F5F5;
		border-left: 5px solid var(--nora-navigation-bar-background-color);
		white-space: pre-wrap;
		padding: 1em;
		font-family: var(--nora-code-font-family);
	}

}
