$contributorsSize: 30px;
$contributorsSizeMargin: -20px;

section#information-panel {
  border: var(--nora-information-panel-border);
  border-radius: var(--nora-information-panel-border-radius);
  zoom: 0.95;
  line-height: var(--nora-information-panel-line-height);
  margin-top: 2em; /** missing upstream **/

  @include base-link();
  a {
    &.link-alternative {
      color: var(--nora-information-panel-label-color);
    }
  }

  label {
    color: var(--nora-information-panel-label-color);
    &:after {
      content: ":"
    }
  }

  p {
    margin: 0;
    display: contents;
  }

  .panel-items-header {
    background-color: var(--nora-information-panel-header-background-color);
    gap: var(--nora-information-panel-header-group-gap);
    padding-top: var(--nora-information-panel-header-padding-block);
    padding-bottom: var(--nora-information-panel-header-padding-block);
    border-bottom: var(--nora-information-panel-header-border-bottom);
    display: flex;

    .column {
      display: flex;
      flex-direction: column;
      border-left: var(--nora-information-panel-header-group-large-vw-border-left);
      padding: var(--nora-information-panel-footer-padding-block);
      width: 100%;

      &:first-child {
        border-left: none;
      }

      &.profile {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          max-width: 54px;
          padding-right: var(--nora-information-panel-header-gap);
        }
      }
    }
  }

  .panel-items-overview {
    display: grid;
    grid-template-columns: 30% 1fr;

    .panel-item {
      display: contents;
      line-height: var(--nora-information-panel-line-height);
      font-size: var(--nora-inforamtion-panel-font-size);

      > label, > .panel-content {
        border-bottom: var(--nora-information-panel-header-border-bottom);
        padding: var(--nora-information-panel-header-gap);
      }

      > label {
        background-color: var(--nora-information-panel-header-background-color);
      }

      > .panel-content {
        background-color: var(--nora-information-panel-header-background-color);
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        align-items: center;
      }

      &:nth-child(even) {
        > label, > .panel-content {
          background-color: #fff;
        }
      }
    }
  }

  .panel-footer {
    padding: var(--nora-information-panel-footer-padding-block);
    @include base-link();

    a {
      &:focus-visible, &:focus {
        background-color: #fff !important;
      }
    }

    .row {
      display: flex;
      align-items: center;
      .contributors {
        display: flex;
        line-height: 0.8em;
        gap: .25em;
        a.profile-picture {
          img {
            width: $contributorsSize;
            height: $contributorsSize;
            border-radius: 9999px;
          }
          &:not(:first-child) {
            margin-left: $contributorsSizeMargin;
          }
          &:hover, &:active, &:focus, &:focus-visible {
            z-index: 2;
            background-color: #fff;
            border-radius: 99999px;
          }
        }
        a.label-link {
          margin-left: $contributorsSizeMargin;
          border-radius: 99999px;
          background-color: var(--nora-information-panel-contributors-label-background-color);
          border: var(--nora-information-panel-contributors-label-border);
          padding:.25em var(--nora-information-panel-contributors-label-padding-inline);
          color: var(--nora-information-panel-contributors-label-color);
          align-content: center;
        }
      }
      .right {
        margin-left: auto;
      }
    }
  }

  @include respond-to(md) {
    .panel-items-header {
      flex-direction: column;
      .column {
        padding: 0 var(--nora-information-panel-header-padding-block);
      }
    }
    .panel-items-overview {
      display: flex;
      flex-direction: column;

      .panel-item {
        display: block;
        flex: 1;
        border-bottom: var(--nora-information-panel-header-border-bottom);
        background-color: var(--nora-information-panel-header-background-color);

        > label, > .panel-content {
          background: none;
          border: none;
          display: block;
        }

        > label {
          margin-bottom: -.5em;
        }

        .panel-content {
          display: flex;
          margin-bottom: .25em;
          gap: var(--nora-information-panel-header-group-gap);
        }

        &:nth-child(even) {
          background-color: #fff;
        }

      }
    }
  }

  &[aria-expanded="true"] {
    .panel-items-header, .panel-footer .contributors {
      display: none;
    }
    .panel-footer {
      a {
        i {
          &:before {
            content: "\ea62" !important;
          }
        }
      }
    }
  }

  &[aria-expanded="false"] {
    .panel-items-overview {
      display: none;
    }
  }
}