@import "./mixin";

.navigation-bar {
	@include navigation-bar;
	@include padding("nora-navigation-bar");
	background: var(--nora-navigation-bar-background-color);
	top: 0;

	.navigation-bar-logo {
		margin-right: var(--nora-navigation-bar-navigation-container-column-gap);
		@include respond-to(md) {
			margin-left: var(--nora-navigation-bar-navigation-container-column-gap);
		}
	}

	.navigation-bar-logo {
		width: 89px;
	}

	button.navigation-toggle {
		&[aria-expanded="true"] {
			i.ti-menu-2 {
				&::before {
					content: "\ea62";
				}
			}
		}
	}

	.navigation-bar-navigation {
		gap: var(--nora-navigation-bar-navigation-container-items-column-gap);
		@include respond-to(md) {
			gap: var(--nora-navigation-bar-navigation-container-column-gap);
		}

		&.expanded {
			background: var(--nora-navigation-bar-background-color);
			top: calc(var(--nora-navigation-bar-search-field-min-height) + .5em);
			gap: 0;
			box-shadow: var(--nora-navigation-bar-vertical-navigation-container-box-shadow);
			.navigation-item {
				font-weight: var(--nora-typography-font-weight-bold);
			}
		}
	}

	.navigation-bar-search {
		padding-right: var(--nora-navigation-bar-navigation-container-column-gap);
		input[type="search"] {
			@include padding("nora-navigation-bar-search-field");
			border-radius: var(--nora-navigation-bar-search-field-border-top-left-radius) 0 0 var(--nora-navigation-bar-search-field-border-bottom-left-radius);
			margin-right: -2px;
			background: var(--nora-navigation-bar-search-field-background-color);
			color: var(--nora-navigation-bar-search-field-color);
			&::placeholder {
				color: var(--nora-navigation-bar-search-field-placeholder-color);
			}
			&:hover {
				background: var(--nora-navigation-bar-search-field-hover-background-color);
			}
			&:focus {
				background: var(--nora-navigation-bar-search-field-focus-background-color);
				color: var(--nora-navigation-bar-search-field-focus-color);
			}
		}
		input[type="submit"] {
			border-top-right-radius: var(--nora-navigation-bar-search-form-button-border-top-right-radius);
			border-bottom-right-radius: var(--nora-navigation-bar-search-form-button-border-bottom-right-radius);
			background: var(--nora-navigation-bar-search-form-button-background-color);
			color: var(--nora-navigation-bar-search-form-button-color);
			text-indent:-99999px;
			background-image: url("/skins/NORA/resources/images/search-white.svg" );
			background-position: center;
			background-repeat: no-repeat;
			padding:.75em 1.5em;
			width: var(--nora-navigation-bar-search-form-button-icon-size);
			&:hover {
				background-color: var(--nora-navigation-bar-search-form-button-hover-background-color);
				color: var(--nora-navigation-bar-search-form-button-hover-color);
			}
			&:active {
				background-color: var(--nora-navigation-bar-search-form-button-active-background-color);
				color: var(--nora-navigation-bar-search-form-button-active-color);
			}
			&:focus {
				background-color: var(--nora-navigation-bar-search-form-button-focus-background-color);
				color: var(--nora-navigation-bar-search-form-button-focus-color);
			}
			&:focus-visible {
				background-color: var(--nora-navigation-bar-search-form-button-focus-visible-background-color);
				color: var(--nora-navigation-bar-search-form-button-focus-visible-color);
				background-image: url("/skins/NORA/resources/images/search.svg" );
			}
		}
	}

	.navigation-link,
	.navigation-toggle {
		@include navigation-item("nora-navigation-bar-navigation-item");
		font-size: var(--nora-navigation-bar-navigation-item-font-size);
	}

	.navigation-toggle {
		border-radius: var(--nora-navigation-bar-search-field-border-top-left-radius);
		background: var(--nora-navigation-bar-search-field-background-color);
		color: var(--nora-navigation-bar-search-field-color);
		border: none;
	}

	.navigation-item-dropdown-menu {
		padding-top: 0.75rem;
		width: 225px;
		a {
			font-size: calc( var(--nora-navigation-bar-navigation-item-font-size) - 10%);
		}
	}

	@include respond-to(lg) {
		.navigation-bar-search {
			input[type="submit"] {
				border-radius: var(--nora-navigation-bar-search-field-border-top-left-radius);
				background-color: transparent;
			}
		}
	}

	@include respond-to(md) {
		.navigation-bar-search {
			input[type="submit"] {
				background-color: var(--nora-navigation-bar-search-form-button-background-color);
			}
		}
		.navigation-bar-secondary-nav {
			padding-left: var(--nora-navigation-bar-navigation-container-items-column-gap);
		}
	}

}