footer {
	@include padding("nora-footer");
	background: var(--nora-footer-background-color);
	font-size: var(--nora-footer-link-font-size);
	.navigation-header-item {
		@include padding("nora-footer-link");
		@include navigation-item("nora-footer-link");
		font-size: 19px;
		color: #fff;

	}
	ul.footer-block-navigation {
		margin-top: .1em;
	}
	.navigation-item {
		.navigation-link {
			@include navigation-item("nora-footer-link");
			@include padding("nora-footer-link");
			&:visited {
				color: white; /** missing upstream */
			}
			&:focus-visible {
				color: black;
			}
		}
	}

	.footer-container-top,
	.footer-container-bottom,
	.footer-quick-navigation {
		display: flex;
		flex-wrap: wrap;
		row-gap: 15px;
	}

	.footer-container-top {
		justify-content: space-between;
	}

	.footer-container-bottom {
		margin-top: 2em;
		padding-top: 2em;
		border-top: 1px solid var(--nora-footer-secondary-container-border-top-color);
		.copyright {
			margin-left: auto;
			color: #fff;
			a {
				@include navigation-item("nora-footer-link");
				padding: 0;
			}
			.mw-lingo-tooltip {
				display: none;
			}
		}
	}

	@include respond-to(md) {
		.footer-container-top,
		.footer-container-bottom {
			flex-direction: column;
		}
		.footer-container-top {
			.footer-top-item {
				margin-top: 1.5em;
				&:first-child {
					margin-top: 0;
				}
			}
		}
		.copyright {
			margin: 0 !important;
		}
	}

}