a.label-link {
  background-color: var(--nora-label-link-background-color);
  color: var(--nora-label-link-color);
  border: var(--nora-label-link-border);
  border-radius: var(--nora-label-link-border-radius);
  font-size: var(--nora-label-link-font-size);
  line-height: var(--nora-label-link-line-height);
  padding: var(--nora-label-link-padding-block);
  text-decoration: var(--nora-label-link-text-decoration, 'none') !important;
  &:hover {
    background-color: var(--nora-label-link-hover-background-color) !important;
    border-color: var(--nora-label-link-hover-border-color) !important;
    color: var(--nora-label-link-hover-color) !important;
  }
  &:active {
    background-color: var(--nora-label-link-active-background-color) !important;
    border-color: var(--nora-label-link-active-border-color) !important;
    color: var(--nora-label-link-active-color) !important;
  }
  &:focus {
    background-color: var(--nora-label-link-focus-background-color) !important;
    border-color: var(--nora-label-link-focus-border-color) !important;
    color: var(--nora-label-link-focus-color) !important;
  }
  &:focus-visible {
    background-color: var(--nora-label-link-focus-visible-background-color) !important;
    border-color: var(--nora-label-link-focus-visible-border-color) !important;
    color: var(--nora-label-link-focus-visible-color) !important;
  }
}