@use '../themes/nora/abstracts/helpers';
@use '../abstracts/icon';

.nora-related-links {
  display: flex;
  flex-direction: column;
  font-size: var(--nora-typography-font-size-md);
  gap: var(--nora-space-100);
  margin-block-start: var(--nora-space-800);

  @include helpers.large-vw {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.nora-related-links__heading {
  @include helpers.visually-hidden;
}

.nora-related-links__group {
  background-color: var(--nora-color-blue-50);
  border-radius: var(--nora-border-radius-md);
  margin: 0;
  padding-block: var(--nora-space-300);
  padding-inline: var(--nora-space-400);
  position: relative;
  overflow: hidden;

  &::after {
    display: block;
    content: '';
    background-image: url('data:image/svg+xml,<svg width="136" height="136" viewBox="0 0 136 136" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_2365_2920)"><path fill-rule="evenodd" clip-rule="evenodd" d="M58.0479 118.585L131.787 67.7962L58.0479 17.0069L58.0479 30.0778C58.0479 34.496 54.4662 38.0778 50.0479 38.0778L3.99945 38.0777L3.99945 95.5304L50.0479 95.5304C54.4662 95.5304 58.0479 99.1121 58.0479 103.53L58.0479 118.585ZM60.3168 121.88C57.6631 123.707 54.0479 121.808 54.0479 118.585L54.0479 103.53C54.0479 101.321 52.257 99.5304 50.0479 99.5304L3.99945 99.5304C1.79031 99.5304 -0.00055302 97.7395 -0.000552924 95.5304L-0.000550413 38.0777C-0.000550316 35.8686 1.79031 34.0778 3.99945 34.0778L50.0479 34.0778C52.257 34.0778 54.0479 32.2869 54.0479 30.0778L54.0479 17.0069C54.0479 13.7846 57.6631 11.8849 60.3168 13.7127L134.056 64.5019C136.364 66.0917 136.364 69.5006 134.056 71.0904L60.3168 121.88Z" fill="white"/></g><defs><clipPath id="clip0_2365_2920"><rect width="136" height="136" fill="white"/></clipPath></defs></svg>');
    background-size: 100%;
    height: 8.5rem;
    width: 8.5rem;
    position: absolute;
    z-index: 0;
  }

  &--parent {
    grid-column: 2 / 4;
    grid-row: 1;

    &::after {
      inset: auto auto -2rem 50%;
      transform: rotate(-90deg);
      margin-inline-start: -4.25rem;
    }
  }

  &--related {
    grid-column: 1 / 3;
    grid-row: 2;

    &::after {
      inset: .5rem auto auto 1rem;
      transform: rotate(-180deg);
    }
  }

  &--connected {
    grid-column: 3 / 5;
    grid-row: 2;

    &::after {
      inset: .5rem 1rem auto auto;
    }
  }
}

.nora-related-links__group-heading {
  font-weight: var(--nora-typography-font-weight-bold);
  margin-bottom: var(--nora-space-100);
  position: relative;
  z-index: 1;
}

.nora-related-links__group-item {
  margin: 0;
  padding-block: .0625rem;
  position: relative;
  z-index: 1;

  a {
    display: inline-flex;
    gap: var(--nora-space-100);
  
    &:any-link {
      text-decoration-line: none;
    }
  
    &:hover span {
      text-decoration-line: underline;
    }
  
    &::before {
      @include icon.make(icon.$ti-arrow-right);
  
      font-size: 1.25rem;
      margin-block-start: .1em;
    }
  
    &[href^="http"]::before {
      content: icon.$ti-image-maximize;
    }
  }
}

