@use '../themes/nora/components/page-section/article/mixins' as article-section;
@use '../themes/nora/abstracts/helpers';

.page-section-wide {
  @include article-section.article-section;
}

.page-content:has(>.page-content__visual-banner) {
  
  /** TODO fix overflow of background-decorator */
  overflow-x: hidden;
  
  .page-section-wide:first-child {

    @include helpers.large-vw {
      padding-block-start: 0;
      position: relative;
    }

    &::before {
      @include article-section.background-decorator;
    }
  }
}