@use './themes/nora/abstracts/helpers';

// Base components
@use "./components-old/submenu";

@use './components/related-links';


.visually-hidden {
	@include helpers.visually-hidden;
}

.error-message {
	color: red;
	background: #ffe4e4;
	border: 1px solid red;
	border-radius: 5px;
	padding: .25em;
}

div#mw-content-text {
  position: inherit !important;
}

div.smartrdfexport-wikibutton {
  display: none;
  position: relative !important;
}

h1#firstHeading {
  span#firstHeadingTitle {
    margin-left: .25em;
  }
}

.mw-lingo-tooltip {
  display: none;
}
