@import "./mixin";

ul.breadcrumbs {
	gap: .5em;
	font-size: var(--todo-breadcrumb-nav-font-size);
	li.breadcrumb-item {
		&:after {
			content: "/";
			color: #D9D9D9;
			margin-left: .5em;
		}
		li.breadcrumb-link {
			a {
				@include navigation-item("todo-breadcrumb-nav-link");
			}
		}
		&:last-child {
			a {
				color: var(--todo-breadcrumb-nav-link-current-color);
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				display: block;
			}
			&:after {
				content: none;
			}
		}
	}

	@include respond-to-bigger-than(md) {
		li.breadcrumb-item:last-child {
			max-width: 400px;
		}
	}

	@include respond-to-bigger-than(lg) {
		li.breadcrumb-item:last-child {
			max-width: 600px;
		}
	}

	@include respond-to(md) {
		li.breadcrumb-item:not(:nth-last-child(2)) {
			display: none;
		}
		li.breadcrumb-item:nth-last-child(2) {
			display:flex;
			align-items:center;
			&:after {
				display: none;
			}
			&:before {
				@include ti-styles;
				content: "\ea19";
				font-size:1.5em;
				margin-right: .25em;
			}
		}
	}

}