@import "./mixin";

$fontSize: 15px;
$baseMargin: .5em;

.breadcrumb-tools-container {
	.navigation-item {
		@include icon-only();
		font-size: $fontSize;

		.navigation-link {
			margin-right: $baseMargin;
			padding: .5em !important;
			border-radius: var(--nora-breadcrumbs-tools-bar-smart-comments-button-border-radius);
			.ti.ti-watch::before {
				content: "\eb2e";
			}
			.ti.ti-unwatch::before {
				font-family: "tabler-icons-filled", serif;
				content: "\f6a6";
			}
			.ti.ti-formedit::before {
				content: "\ee8f";
			}
		}

		&:last-child {
			a {
				margin-right: 0;
			}
		}

		&.with-background {
			.navigation-link {
				background: var(--nora-breadcrumbs-tools-bar-smart-comments-button-background-color);
			}
		}

		.navigation-item-dropdown-menu {
			padding-top: .4em;
			padding-right: .5em;
			width: 175px;
		}
	}
	.smartcomments-toggler {
		a {
			font-size: .9em;
			span.status {
				border-left: 1px solid #D3D5D5;
				padding-left: .5em;
				margin-left: .5em;
				&:after {
					@include ti-styles();
					content: "\ea5f";
					padding-left: .25em;
				}
			}
		}
		.navigation-item-dropdown-menu {
			width: 55px;
		}
	}

	@include respond-to(md) {
		li.smartcomments-toggler {
			display: none;
		}
	}
}