@mixin avatar($size: false) {
  border: var(--nora-avatar-border);
  border-radius: 100vw;
  display: block;
  overflow: hidden;

  @if $size {
    height: $size;
    width: $size;
  }
}

@mixin image {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}