@use '../themes/nora/components/figure/mixins' as figure;
@use '../abstracts/icon' as icon;

.thumb {

  .thumbinner {
    @include figure.figure;

    > a:has(img) {
      display: block;
    }
  }

  .thumbimage {
    @include figure.media
  }

  .thumbcaption {
    @include figure.caption;

    display: block;

    .magnify {
      float: right;
      margin-inline-start: var(--nora-figure-figcaption-gap);
      margin-block-end: 1px;

      a:any-link {
        --icon-size: 1.125rem;

        color: inherit;
        display: flex;
        align-items: center;
        gap: .25em;

        &::after {
          background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.75 7.6875H8.25C7.93934 7.6875 7.6875 7.93934 7.6875 8.25C7.6875 8.56066 7.93934 8.8125 8.25 8.8125H8.4375V12.1875H8.25C7.93934 12.1875 7.6875 12.4393 7.6875 12.75C7.6875 13.0607 7.93934 13.3125 8.25 13.3125H9.75C10.0607 13.3125 10.3125 13.0607 10.3125 12.75C10.3125 12.4393 10.0607 12.1875 9.75 12.1875H9.5625V8.8125H9.75C10.0607 8.8125 10.3125 8.56066 10.3125 8.25C10.3125 7.93934 10.0607 7.6875 9.75 7.6875Z" fill="%23686B6D"/><path d="M9 6.375C9.41421 6.375 9.75 6.03921 9.75 5.625C9.75 5.21079 9.41421 4.875 9 4.875C8.58579 4.875 8.25 5.21079 8.25 5.625C8.25 6.03921 8.58579 6.375 9 6.375Z" fill="%23686B6D"/><path fill-rule="evenodd" clip-rule="evenodd" d="M1.6875 9C1.6875 4.96142 4.96142 1.6875 9 1.6875C13.0386 1.6875 16.3125 4.96142 16.3125 9C16.3125 13.0386 13.0386 16.3125 9 16.3125C4.96142 16.3125 1.6875 13.0386 1.6875 9ZM9 2.8125C5.58274 2.8125 2.8125 5.58274 2.8125 9C2.8125 12.4173 5.58274 15.1875 9 15.1875C12.4173 15.1875 15.1875 12.4173 15.1875 9C15.1875 5.58274 12.4173 2.8125 9 2.8125Z" fill="%23686B6D"/></svg>');
          background-size: var(--icon-size);
          content: '';
          display: block;
          height: var(--icon-size);
          width: var(--icon-size);
        }

      }
    }
  }
}