@use './themes/nora/custom-properties';

@use "./base" as mw-base;
@use "./themes/nora/base" as nora-components-base;

@use './layout/breadcrumbs-tools-bar';
@use './layout/footer';
@use './layout/navigation-bar';
@use './layout/page-section-article';
@use './layout/page-section-wide';

@use './components/anchor-navigation';
@use './components/avatar';
@use './components/breadcrumb-navigation';
@use './components/figure';
@use './components/heading';
@use './components/information-panel';
@use './components/label-link';
@use './components/link';
@use './components/link-overview';
@use './components/ordered-list';
@use './components/page-content';
@use './components/paragraph';
@use './components/table';
@use './components/unordered-list';

@import "@nl-design-system-community/nora-design-tokens/dist/theme.css";
@import '@nl-design-system-community/nora-design-tokens/dist/theme-large-vw.css'(min-width: custom-properties.$large-vw-breakpoint);