$icomoon-font-family: "nora-icons" !default;
$icomoon-font-path: "/skins/NORA/resources/fonts" !default;

$ti-code-dots: "\e91c";
$ti-star-filled: "\e91d";
$ti-image-maximize: "\e900";
$ti-forms: "\e901";
$ti-info-circle: "\e902";
$ti-file-time: "\e903";
$ti-message-circle-question: "\e904";
$ti-message-circle-plus: "\e905";
$ti-mail: "\e906";
$ti-sort-descending: "\e907";
$ti-sort-ascending: "\e908";
$ti-sort: "\e909";
$ti-window-maximize: "\e90a";
$ti-menu: "\e90b";
$ti-calendar-edit: "\e90c";
$ti-user-circle: "\e90d";
$ti-star: "\e90e";
$ti-search: "\e90f";
$ti-messages: "\e910";
$ti-help: "\e911";
$ti-edit: "\e912";
$ti-dots: "\e913";
$ti-chevron-up: "\e914";
$ti-chevron-right: "\e915";
$ti-chevron-left: "\e916";
$ti-chevron-down: "\e917";
$ti-arrow-up: "\e918";
$ti-arrow-right: "\e919";
$ti-arrow-left: "\e91a";
$ti-arrow-down: "\e91b";
