$sideColumnSide: 22rem;  /** missing upstream */

main#content {
	max-width: calc(var(--nora-page-section-article-content-large-vw-max-width) + #{$sideColumnSide} - var(--nora-page-section-article-container-large-vw-max-gap));
	gap: var(--nora-page-section-article-container-large-vw-max-gap);
	background: #fff;
	margin: 0 auto;
	display: flex;
	flex-direction: row-reverse; /** The TOC should be tabbed first, hence we turn the order around */
	padding: 48px; /** where does this come from? */
	border-radius: var(--nora-page-section-article-background-decorator-border-radius);

	&.full-width {
		max-width: var(--nora-page-section-article-container-large-vw-max-width);
		section.content-container {
			width: 100%;
			max-width: 100%;
		}
	}

	section.content-container {
		overflow: hidden;
		max-width: var(--nora-page-section-article-content-large-vw-max-width);
		h1 {
			margin-top: 0;
		}
	}
	section.content-navigation {
		max-width: $sideColumnSide;
		padding-top: .5em;
	}

	@include respond-to(lg) {
		section.content-container, section.content-navigation {
			max-width: 100%;
		}
	}

	@include respond-to(md) {
		flex-direction: column;
		gap: var(--nora-page-section-article-container-large-vw-min-gap);
	}

}

@import "./contentNavigation";
@import "./contentStyling";
@import "./backgroundContainer";