@mixin icon-only {
	&.active {
		a {
			background: var(--todo-icon-only-button-active-background-color);
		}
	}
	a {
		@include padding("todo-icon-only-button");
		border-radius: var(--todo-icon-only-button-border-radius);
		text-decoration: none;
		display: flex;
		i {
			font-size: 1.1em;
		}

		&:active {
			background: var(--todo-icon-only-button-active-background-color);
			color: var(--todo-icon-only-button-active-color);
		}

		&:focus {
			background: var(--todo-icon-only-button-focus-background-color);
			color: var(--todo-icon-only-button-focus-color);
		}

		&:hover {
			background: var(--todo-icon-only-button-hover-background-color);
			color: var(--todo-icon-only-button-hover-color);
		}

		&:focus-visible {
			background: var(--todo-icon-only-button-focus-visible-background-color);
			color: var(--todo-icon-only-button-focus-visible-color);
		}
	}
}

.navigation-item-icon-only {
	@include icon-only;
}

