@use '../themes/nora/abstracts/helpers';

.visually-hidden {
	@include helpers.visually-hidden;
}

.error-message {
	color: red;
	background: #ffe4e4;
	border: 1px solid red;
	border-radius: 5px;
	padding: .25em;
}
